.conteiner_sketches {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.conteiner_sketches__text {
  color: rgb(205, 14, 14);
}

.sketch {
  width: 400px;
  height: 600px;
}

.sketches {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.photos img {
  /* width: 100%; */
  display: none;
}

.photos img:first-child {
  display: block;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  font-size: 45px;
  color: rgb(205, 14, 14);
}

@media (max-width: 500px) {
  .conteiner_sketches {
    width: 300px;
    text-align: center;
  }

  .sketches {
    gap: 5px;
  }

  .sketch {
    width: 200px;
    height: 300px;
  }

  .prev,
  .next {
    font-size: 15px;
    width: 20px;
    height: 10px;
  }
}
